CloudConsultingSalesforce/force-app/main/default/flows/Auto_In_Progress_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send email to PM warning about project requirements not fulfilled</description>
        <name>Project_cant_start_email_notification</name>
        <label>Project cant start email notification</label>
        <locationX>854</locationX>
        <locationY>115</locationY>
        <actionName>Project__c.Project_cant_start_notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Can_project_start</name>
        <label>Can project start ?</label>
        <locationX>535</locationX>
        <locationY>117</locationY>
        <defaultConnector>
            <targetReference>Project_cant_start_email_notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_ready_to_start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hours_Covered__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Total_Hours__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Squad_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_in_progress</targetReference>
            </connector>
            <label>Project ready to start</label>
        </rules>
    </decisions>
    <description>At Start Date, the project stage moves to &quot;IN PROGRESS&quot;.</description>
    <interviewLabel>Auto In Progress Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto In Progress Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Project_ends</name>
        <label>Project ends</label>
        <locationX>177</locationX>
        <locationY>394</locationY>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Project_in_progress</name>
        <label>Project in progress</label>
        <locationX>542</locationX>
        <locationY>328</locationY>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>50</locationY>
        <object>Project__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Project_Start_Date</name>
            <connector>
                <targetReference>Can_project_start</targetReference>
            </connector>
            <label>Project Start Date</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Start_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Project_End_Date</name>
            <connector>
                <targetReference>Project_ends</targetReference>
            </connector>
            <label>Project End Date</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
