CloudConsultingSalesforce/force-app/main/default/flows/Cierre_oportunidad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Al cierre de la oportunidad se le notifica al PM el proyecto al cual fue asignado.</description>
        <name>Email_notification_new_project_to_PM</name>
        <label>Email notification new project to PM</label>
        <locationX>833</locationX>
        <locationY>599</locationY>
        <actionName>Project__c.New_project_notification_to_PM</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_New_Project</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_PLI_to_Collection</name>
        <label>Add PLI to Collection</label>
        <locationX>825</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>New_PLI_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>new_pli</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OpportunityLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_ProjectLineItem</name>
        <label>Create ProjectLineItem</label>
        <locationX>825</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>new_pli.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OpportunityLineItem.Rol__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_pli.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OpportunityLineItem.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_pli.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_pli.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OpportunityLineItem.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PLI_to_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Cierre oportunidad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cierre oportunidad</label>
    <loops>
        <name>Loop_OpportunityLineItem</name>
        <label>Loop OpportunityLineItem</label>
        <locationX>660</locationX>
        <locationY>367</locationY>
        <collectionReference>Get_OpportunityLineItems_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_ProjectLineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PLI_Creator</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Project</name>
        <label>Create New Project</label>
        <locationX>478</locationX>
        <locationY>170</locationY>
        <connector>
            <targetReference>Get_OpportunityLineItems_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Project_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Manager__c</field>
            <value>
                <elementReference>$Record.Project_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Pre-Kickoff</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Hours__c</field>
            <value>
                <elementReference>$Record.Total_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PLI_Creator</name>
        <label>PLI Creator</label>
        <locationX>661</locationX>
        <locationY>599</locationY>
        <connector>
            <targetReference>Email_notification_new_project_to_PM</targetReference>
        </connector>
        <inputReference>New_PLI_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_OpportunityLineItems_Opportunity</name>
        <label>Get OpportunityLineItems Opportunity</label>
        <locationX>478</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_OpportunityLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>86</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Create_New_Project</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>new_pli</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>New_PLI_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>opportunity_pli</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pli_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>PLI_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>project_pli</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectLI_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ProjectLineItem_Quantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>prueba</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>quantity_pli</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Quantity_ProjectLineItem</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>rol_pli</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
